.graph {
  display: grid;
  grid-template-areas: 
    ". months"
    "weeks posts";
  &--vertical {
    grid-template-areas: 
    ". weeks"
    "months posts";
    grid-template-columns: auto 1fr;
  }

  &__months {
    grid-area: months;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    .graph--vertical & {
      grid-template-columns: auto;
    }
  }

  &__month {
    padding: .25em 0;
    &:nth-child(odd) {
      visibility: hidden;
    }
    .graph--vertical & {
      padding: 0 .25em;
      writing-mode: vertical-lr;
    }
  }

  &__weeks {
    grid-area: weeks;
    display: grid;
    grid-template-rows: repeat(5, auto);
    .graph--vertical & {
      grid-template-rows: repeat(1, auto);
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__week {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .25em;
    &:nth-child(odd) {
      visibility: hidden;
    }
  }

  &__posts {
    grid-area: posts;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: column;
    .graph--vertical & {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(12, auto);
      grid-auto-flow: row;
    }
  }

  &__post {
    display: block;
    width: 100%;
    padding-top: 100%;
    background: #aaa;
    overflow: hidden;
    text-indent: -9999px;
    $base: #006994;
    &--1 {
      background: desaturate($base, 0%);
    }
    &--2 {
      background: desaturate($base, 25%);
    }
    &--3 {
      background: desaturate($base, 50%);
    }
    &--4 {
      background: desaturate($base, 75%);
    }
    &--none {
      visibility: hidden;
    }
  }

  &__post-label {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}