$normal: #dadada;
$base: #006994;
$stroke: #fff;

.graph-block {
  fill: $normal;
  stroke: $stroke;

  
  &--0,
  &--none {
    outline: none;
  }
  
  &--none {
    opacity: .3;
  }
}

.graph-block--1,
.graph-block--2,
.graph-block--3,
.graph-block--4 {
  cursor: pointer;
}

.graph-block--1 {
  fill: desaturate($base, 0%);
}
.graph-block--2 {
  fill: desaturate($base, 25%);
}
.graph-block--3 {
  fill: desaturate($base, 50%);
}
.graph-block--4 {
  fill: desaturate($base, 75%);
}
